#serverErr{
    text-align: center;
    text-transform: uppercase;
    color: #f76300;
    margin: 2em;
    padding: 2em;
    position: relative;
    width: 45vh;
    border: 1px solid black;
    border-radius: 25px;
    background: #272727;
    box-shadow: -7px 7px 9px rgb(17, 17, 17);
}